<h1>Opportunities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @opps.each do |opp| %>
      <tr>
        <td><%= link_to opp.name, opp %></td>
        <td><%= opp.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
