<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <%= link_to "Sign In", new_volunteer_session_path %>
  <%= link_to "Sign Up", new_volunteer_registration_path %>
</body>
</html>